#main {  
	display: flex;
    height: 100%;
    justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 300px;
}

label, .login-btn, .signup-box {
	margin-top: 16px;
}

input {
	margin-top: 6px;
}
